body {
    margin: 0;
    color: white;
    font-size: 16px;
    background-color: black;
}

nav {
    margin: 0;
    font-size: 20px;
}

nav ul {
    list-style: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 10px; /* Adjust the spacing between navigation items */
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.image-button {
    max-width: 300px;
    position: relative;
    margin: 20px auto; /* Added margin for spacing */
}

.image-button button,
.image-button img {
    width: 100%;
    border: 2px solid white;
}

.image-button button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 40px;
    background-color: #222324;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

.image-button img {
    display: block;
    height: auto;
    opacity: 0.9;
}

footer {
    text-align: center; /* Center the text in the footer */
    margin-top: 20px; /* Add space above the footer */
}
