body {
    margin: 0;
    color: white;
    font-size: 16px;
    background-color: black;
}

nav {
    margin: 0;
    font-size: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}
