body {
    margin: 0;
    color: white;
    font-size: 16px;
    background-color: black;
}

nav {
    margin: 0;
    font-size: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}

.image-button {
    max-width: 300px;
    position: relative;
}

.image-button button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 40px;
    border: 2px solid white;
    color: #ffffff;
    background-color: #222324;
    font-size: 16px;
    cursor: pointer;
}

.image-button img {
    display: block;
    height: auto;
    width: 100%;
    opacity: 0.8;
    border: 2px solid white;
}